.banner {
  color: white;
  text-align: center;
  height: 100vh;
  background-size: cover !important;
  display: flex;
  justify-content: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-bottom: 0px;
}

.alert{
  margin-top: 60px;
  text-align: center;
  color: white;
}

.form-home{
  color: black;
  width: 510px;
  border-radius: 6px;
  border: 0.5px solid rgba(30,30,30,0.3);
  height: 50px;
  opacity: 0.9;
  font-size: 20px;
}

.btn-home{
  height: 50px;
  background-color: #F9CF5B;
  color: white;
  border-radius: 6px;
  font-weight: bolder;
  width: 115px;
  margin: 0px 0px 0px 20px;
  border: none;
  &:hover{
    background-color: #c9a805;
    border-color: #a68b04;
  }
}

.mission_container{
  display: flex;
  justify-content: center;
  height: auto;
  background-color:rgba(230, 230, 230, 0.8);
}

.mission_content{
  width: 65%;
  height: 80%;
  margin: 35px 0px;
  padding: 14px 0px;
  font-size: 20px;
}

.testimony_banner{
  position: relative;
  justify-content: center;
  height: 75vh;
  background-size: cover !important;
  background-position: 25% 75%;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.testimony_content{
  position: absolute;
  left: 8%;
  top: 10%;
  width: 30%;
  height: auto;
  padding: 30px;
  background-color: rgba(230, 230, 230, 0.8);
  border-radius: 6px;
}

.testimony_content h3{
  font-size: 18px;
}

.top_container{
  display: flex;
  justify-content: center;
  height: auto;

}
.top_content{
  width: 70%;
  padding: 60px 0px;
}

.card-home {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin: 20px 13px 50px 13px;
  transition: all 0.3s ease;
  padding: auto;
}

.card-home:hover {
  margin-top: -5px;
}
.card-user-home {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category-home {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description-home {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description-home h2 {
  font-size: 24px;
}
.card-description-home p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.btn-discover{
  height: 35px;
  background-color: #F9D008;
  color: white;
  border-radius: 3px;
  border-color: #e2bc05;
  padding: 10px 14px;
  font-size: 21px;
  font-weight: bolder;
  border-radius: 3px;
  &:hover{
    background-color: #c9a805;
    border-color: #a68b04;
  }
}

.discover{
  margin-top:25px;
  color: rgb(40, 40, 40)
}

.title{
  margin: 10px 0px 70px 0px;
}

.img-border {
    border-radius: 50%;
    width: 110px;
}

.about_us_container{
  display: flex;
  justify-content: center;
  height: auto;

}

.about_us_content{
  width:80%;
  margin-top: 50px;
}

.team_member{
  padding: 0px 15px;
  margin: 0px 18px 60px 18px;
}

.team_member p {
  font-size: 16px;
  color: rgb(50, 50, 50);
  margin-bottom: none !important;
}

.team_member h3{
  font-size: 25px;
  color: $blue;
}

.team_member h2{
  font-size: 30px;
  color: $blue;
  font-weight: bolder;
}

.quote_testimony{
  margin: 0px 8px;
}
