.banner_show{
  color: white;
  text-align: center;
  height: calc(70vh - 70px);
  background-size: cover !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.container_flat{
  width: 900px;
  margin: 0px auto;
 }

.body_flat{
  display: flex;
  align-item: center;
  // background-color: white;
}

.content_flat{
  flex-grow: 1;
  padding: 10px;
  h3{
    font-size:18px;
    font-weight: bolder;
  }
}


.container_form{
  width: 1000px;
  height: 30vh;
  position: sticky !important;
  top: 0 !important;
  margin-left: 50px;

}

.container_form_new{
  width: 1000px;
  height: 30vh;
  top: 0 !important;
  margin-left: 50px;

}

.form_flat{
  border : 1px solid rgb(130, 130, 130);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-box{
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

 .price{
  background-color: rgb(130, 130, 130);
  flex-grow: 1;
  h2{
    font-size: 16px;
    color: white;
    font-weight: bolder;
    margin: 10px;
  }
 }


.form-booking{
  font-size: 12px;
  padding: 20px;
}
 .info{
  display: flex;
  align-item: center;
  justify-content: space-between;
  // margin: 50px 0px;
  padding: 15px 0px;
  border-bottom: 1px solid rgb(130, 130, 130);
 }

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p{
    font-size: 13px;
  }
}

.icone{
  // margin: 50px 0px;
  display: flex;
  align-item: center;
  justify-content: space-around;
  padding: 30px 0px;
  border-bottom: 1px solid rgb(130, 130, 130);
}

.description{
  // margin: 50px 0px;
  border-bottom: 1px solid rgb(130, 130, 130);
  padding: 40px 0px;
  p {
    font-size: 13px;
  }
}
.pictures{
  padding: 40px 0px;
}

label.stars_required:before{content:"*"}


.our_photos{
  display: flex;
  align-item: center;
  justify-content: space-around;
}

.avatar-bordered {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  margin: 0px auto;
}

.neighborhood{
  font-size:20px;
  font-weight: bolder;
  margin-left: 205px;
}

.step {
padding-left: 30px;
text-align: left;
}

.product-review{
  margin-bottom: 20px;
  padding : 15px;
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(0,0,0, 0.3);
  p{
    font-size: 14px;
    margin-bottom : 0px;
  }
}

.review_head{
  display: flex;
  align-item: center;
  justify-content: flex-start;
}

.avatar-bordered-review{
  width: 45px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  margin: 0px auto;
  margin-right: 10px;
}
 .review_comment{
  margin-top: 5px;
  display: flex;
  p{
    margin: 12px;
  }
 }
.quotes{
  color: $green;
}

.lot_reviews{
  overflow: hidden;
  height: 24.6em;
  line-height: 1.2em;
}

.few_reviews{
  height: auto;
}

.add_review{
  margin: 36px 0px 36px 0px;
}

#review_form{
  overflow: hidden;
  height: 0.6em;
  line-height: 3.2em;
  margin: 30px 0px;

}

#see_reviews{
  color: $blue;
}
#btn_see_form_reviews{
  width: 100%;
}

.form-group{
  display: block !important;
}
