.banner_show{
  color: white;
  text-align: center;
  height: calc(70vh - 70px);
  background-size: cover !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.container_flat{
  width: 900px;
  margin: 0px auto;
 }

.body_flat{
  display: flex;
  align-item: center;
  // background-color: white;
}

.content_flat{
  flex-grow: 1;
  padding: 20px;
  h3{
    font-size:18px;
    font-weight: bolder;
  }
}

.container_form{
  width: 900px;
  height: 30vh;
  position: sticky !important;
  top: 0 !important;
  margin-left: 50px;

}

.form_flat{
  border : 1px solid rgb(130, 130, 130);
  display: flex;
  flex-direction: column;
  // margin-left: 30px;
}

.form-box{
  display: block;
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 4px;
  width: 220px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}

 .price{
  background-color: rgb(130, 130, 130);
  flex-grow: 1;
  h2{
    font-size: 16px;
    color: white;
    font-weight: bolder;
    margin: 10px;
  }
 }


.form-booking{
  font-size: 12px;
  padding: 20px;
}
 .info{
  display: flex;
  align-item: center;
  justify-content: space-between;
  // margin: 50px 0px;
  padding: 30px 0px;
  border-bottom: 1px solid rgb(130, 130, 130);
 }

.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  p{
    font-size: 13px;
  }
}

.icone{
  // margin: 50px 0px;
  display: flex;
  align-item: center;
  justify-content: space-around;
  padding: 30px 0px;
  border-bottom: 1px solid rgb(130, 130, 130);
}

.description{
  // margin: 50px 0px;
  border-bottom: 1px solid rgb(130, 130, 130);
  padding: 40px 0px;
  p {
    font-size: 13px;
  }
}

.our_photos{
  display: flex;
  align-item: center;
}

.avatar-bordered {
  width: 50px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
  margin: 0px auto;
}

.map-container{
margin: 70px;
h3{
  font-size: 18px;
  font-weight: bolder;
}
}
