<div class="navbar-wagon">
        <!-- Logo -->
        <a href="/" class="navbar-wagon-brand">
          <img src="images/logo-acc9c0ec.png" alt="KIKOHO-WORK">
        </a>

        <!-- Right Navigation -->
        <!-- <div class="navbar-wagon-right hidden-xs hidden-sm">
        <a href="team.html">My bookings</a>
        <a href="team.html">Meet the team</a>
        <a href="" class="navbar-wagon-item navbar-wagon-link">Host</a> -->


          <!-- Profile picture with dropdown list -->
          <div class="navbar-wagon-item">
            <div class="alignlist">
           <!--    <img src="http://kitt.lewagon.com/placeholder/users/ssaunier" class="avatar dropdown-toggle" id="navbar-wagon-menu" data-toggle="dropdown"> -->
              <!-- <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu"> -->
                <div><a href="team.html" >Become a host</a></div>
                <div><a href="#aboutus">About us</a></div>
                <div><a href="#">Log in</a></div>

            </div>
          </div>
        </div>

        <!-- Dropdown appearing on mobile only -->
        <div class="navbar-wagon-item hidden-md hidden-lg">
          <div class="dropdown">
            <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
            <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
              <li><a href="#">Host</a></li>
              <li><a href="#aboutus">About</a></li>
              <li><a href="team.html">Team</a></li>
            </ul>
          </div>
        </div>
