<div class="product-review">

  <div class="review_head">
    <div class="avatar text-center">
      <%= image_tag "host.jpg", {class: "avatar-bordered-review"} %>
    </div>
    <div class="review_star">
      <p>Robby</p>
      <% review.rating.times do %>
        <i class="fa fa-star"></i>
      <% end %>
      <% 5 - review.rating.times do %>
        <i class="fa fa-star-o"></i>
      <% end %>
    </div>
  </div>

  <div class="review_comment">
    <i class="fa fa-quote-left quotes" aria-hidden="true"></i>      <p>  <%= review.comment %>   </p>    <i class="fa fa-quote-right quotes" aria-hidden="true"></i>
  </div>

</div>
