<div class="product-review">

  <div class="review_head">
    <div class="avatar text-center">
    <% avatar_url = current_user.facebook_picture_url %>
    <% avatar_url = current_user.facebook_picture_url || "https://vignette2.wikia.nocookie.net/fantendo/images/9/9d/The_Mario_Icon%21.png/revision/latest?cb=20160427211059" %>
      <%= image_tag avatar_url, {class: "avatar-bordered-review"} %>
    </div>
    <div class="review_star">
      <p><%= current_user.first_name %></p>
      <% review.rating.times do %>
        <i class="fa fa-star"></i>
      <% end %>
      <% (5 - review.rating).times do %>
        <i class="fa fa-star-o"></i>
      <% end %>
    </div>
  </div>

  <div class="review_comment">
    <i class="fa fa-quote-left quotes" aria-hidden="true"></i>      <p>  <%= review.comment %>   </p>    <i class="fa fa-quote-right quotes" aria-hidden="true"></i>
  </div>

</div>



